@-moz-document regexp("^https?://[^\\/]+/browse/.*"), regexp("https?://[^\\/]+/secure/Dashboard.jspa.*") {
/********************************************
***** Search and Issues
********************************************/

/* Reset most paddings and margin */
p, .issue-body-content .module>.mod-content, .issue-body-content .item-details dl>dd, .property-list>li, .property-list>li, .issuePanelWrapper, .tabwrap>.tabs.horizontal>li, .editable-field, .links-list .link-content, .issue-header .issue-header-content>.aui-page-header, .people-details>dl, .people-details>dl:first-child, .people-details>dl:first-child+dl{
	padding: 0 !important;
	margin: 0 !important;
	font-size: small;
	line-height: 0.95em;
}

p {
    text-indent: 1em;
}

p:first-letter{
	color: green;
	/*
	text-decoration: underline;
	Unfortunately it does not work in Chromium (http://stackoverflow.com/questions/27210066/underline-single-letter-in-an-input-placeholder, test http://jsfiddle.net/mqchen/cQCSp/3/), use background workaround
	*/
	border-bottom: 1px solid darkgreen;
	border-radius: 0.2em;
	text-transform: uppercase; /* quirqs */
	line-height: 1.4em;
}

blockquote{
	padding: 0px 2px;
	margin: 0 19px;
}

pre{
	margin: 0 1px !important;
	padding: 0 !important;
}

/* Highlight terms */
code, kbd, tt {
    font-family: monospace;
    background-color: rgba(0,0,0,0.07);
    border-radius: 4px;
    padding: 0 3px;
}

/***************************************/
/*** Compact left search list sidebar **/
/***************************************/
.list-panel{
	padding: 0 !important;
}
.details-layout .split-view .list-results-panel{
	padding-left: 2px;
}
.issue-list .issue-link-key{
	display: inline !important;
	font-size: 80%;
	font-weight: bold;
}
.issue-list .issue-link-key:after{
	content: ": ";
}
.issue-list .issue-link-summary {
	white-space: normal !important;
	display: inline !important;
	font-size: 70%;
}

.issue-list{
	overflow: inherit !important;
}

.issue-list li{
	padding: 0 !important;
	line-height: 70%;
}

.list-panel {
	padding: 0;
}

.split-view .list-results-panel{
	padding: 0;
}

.splitview-issue-link br{
	display: none;
}

.details-layout .split-view .list-results-panel .list-panel .issue-list>li img { /* Issue type icon */
    height: 11px;
	width: 11px;
}
/********************************************/
/*** end/ Compact left search list sidebar **/
/********************************************/


/*** Compact message representation at right **/
.module{
	padding: 0 !important;
	margin: 0 !important;
}

header.aui-page-header{
	padding: 0;
}

.issue-header .command-bar .toolbar-group {
	margin-bottom: 0;
}

.mod-header{
	margin-left: 1.5em;
}

/*** Buttons **/
.toolbar-item+.toolbar-item .toolbar-trigger, .toolbar-item+.toolbar-item a.aui-dd-trigger,
.aui-toolbar .toolbar-group .toolbar-trigger, .aui-toolbar .aui-dd-parent a.aui-dd-trigger{
	padding: 0 3px !important;
}

div.command-bar{
	padding: 0 !important;
}

.issue-main-column {
	padding-right: 0.3em;
	border: 1px dashed lightgray;
}
  
/*** Details move to right **/
/* There are #peoplemodule, #datesmodule */
#viewissuesidebar{
	padding: 0 0.3em!important;
	position: relative;
	top: 10em;
	line-height: 0.9em;
}

/* Description block at right and do not wider than content, but not edit form */
#description-val{
	float: right;
	color: brown;
}
#description-val div.wiki-edit{
	min-width: 80em;
	position: relative;
}

#details-module{
	padding-left: 0.3em !important;
	position: absolute;
	right: 4px;
	width: 35%;
	max-height: 10.1em;
	overflow: auto;
}

/* search in action */
.property-list .wrap{
	padding: 0 !important;
}

.property-list .wrap strong.name{
	margin-left: 0;
	font-weight: bold;
	padding: 0 5px 0 0;
}

.property-list .item .name{
	width: auto;
	min-width: 11em;
}

.property-list .item .value{
	display: run-in;
}

.links-list dd .delete-link {
	top: 0 !important;
}

/** Edit field */
.inline-edit-fields{
	max-width: 91%;
	padding-left: 1em;
}
/*** end "Details move to right" **/

/*** Issue itself ***/
#summary-val.editable-field{
	font-size: 20pt;
	color: green;
	width: 100%;
}

.property-list .item .value, .status-view{
	padding: 0;
}

/* Show linked issues full list always */
.collapsed-link, .collapsed-links-list{
    display: inherit;
}
#show-more-links{
	display: none;
}
/* /Show linked issues full list always */

/** Editable fields, task right status **/
.aui-avatar-small, .aui-avatar-small .aui-avatar-inner, .aui-avatar-small .aui-avatar-inner img {
	width: 16px;
	height: 16px;
}
.editable-field .overlay-icon, .aui-iconfont-edit {
	width: 16px;
}
.editable-field{
	min-height: 16px;
}
.editable-field .overlay-icon.aui-iconfont-edit:before {
	left: -1px;
	top: 8px;
}
.editable-field .overlay-icon.aui-iconfont-edit {
	right: -13px;
	border: 1px ridge #ccc;
	border-radius: 3px;
	top: -1px;
}
.issue-body-content .item-details dl>dt{
	padding: 0;
}
/** Editable fields **/

#status-val, #resolution-val, #fixfor-val, #customfield_10040-val{
	background-color: gold;
}

.aui-tabs{
	font-size: inherit !important;
}

#view-subtasks td.stsummary{
	width: auto; /* was 100% - it give strange issue for heigh increase */
}

/* Buttons and menus on issue like "edit", "comment", "assign"… */
.aui-toolbar .toolbar-group .toolbar-trigger, .aui-toolbar .aui-dd-parent a.aui-dd-trigger {
	height: 17px;
}

/** Sub-tasks task list **/
#issuetable>tbody>tr>td{
	vertical-align: middle;
	display: table-cell;
}
#issuetable, #issuetable > tbody{
	float: right;
	border-left: 1px solid #ccc;
}

#issuetable>tbody>tr>td{
	border-right: 1px solid #EAEAEA; /* Add td borders */
}

.aui-button.aui-button-compact{
	font-size: 8px;
	padding: 0 2px;
	height: 16px;
}
.issue-actions-trigger .aui-icon:before{ /* Vertical centering */
	margin-top: -9px;
}

#issuetable .streorder, .issue-table .streorder{
	width: 32px !important; /* reorder arrows in one line */
}

td.stsequence div{
	display: block;
	width: 0.7em;
	background-image: none !important;
}

td.stsequence div:after{
	content: "✓";
	width: 0.7em;
	color: green;
	position: relative;
	font-weight: bold;
}

tr.issuerow>td>div{
	min-height: 14px; /* To hold full done icon */
}

/* Done percentage */
#issuetable td.tt_graph_percentage p{
	font-size: 11px;
	width: 3.2em !important;
}
#issuetable td.tt_graph_percentage p:first-letter{
	border: none;
}
/** /end Sub-tasks task list **/

/** Epic-issues list **/
.ghx-issuetable td {
	line-height: 1;
    padding: 0;
}
.ghx-issuetable .issue_actions .aui-dd-parent {
	height: 16px;
}
/** /end Epic-issues list **/

/*** /end Issue itself ***/

/*** Comments **/
.tabwrap>.tabs.horizontal>li{
	font-size: small; /* Tabs littl bit bigger than x-small */
}


.issue-body-content{
	padding: 0 10px 10px;
}

.issue-body-content div{
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

a.user-hover.user-avatar, span.user-hover.user-avatar {
	padding: 4px 0 2px 19px;
}

.action-details{
	background-color: #F7F7F7;
	opacity: 0.7;
	display: inline-block; /* Because of opacity links became disfunctional (1). So, make it shorter. Alternatively just with may be applyed (1: http://stackoverflow.com/questions/9766154/css-opacity-div-links-not-working-inside-that-div) */
}

.commentreply{
	float: right;
	position: relative;
	top: -0.7em;
	line-height: 0;
	font-size: x-small;
}

.actionContainer br:last-child{
	display: none;
}

/*** Labels ***/
ul.labels{
	display: inline-block;
}
ul.labels li{
	padding: 0px 2px 0px 0;
}
ul.labels li .lozenge{
	font-size: 11px;
	overflow: hidden;
	padding: 0px 5px;
}
.editable-field .overlay-icon.icon-edit-sml{
	background-position-y: 0;
}
/*** /end Labels ***/

/*** Fix bug in multiple Up/Down votes icons
  Selector by http://stackoverflow.com/a/8539107/307525
***/
.action-links > .upvote ~ .upvote, .action-links > .downvote ~ .downvote{
	display: none;
}

/********************************************
***** Dasboard
********************************************/
/* Main */
body{
	line-height: 1;
}

#dashboard-content>.aui-page-header {
	padding: 0 0 0 50px;
}

#dashboard>.vertical.tabs {
	margin: 0;
	padding: 0;
    width: 130px;
}

#dashboard-content .gadget {
	width: 31.9% !important;
/*  left: 5px !important;*/
}

/* 2 columns with different width layout. Unfortunately no other than anchor to colors classes way found to wtyle that */
#dashboard-content .layout-ba ~ .gadget.color5, #dashboard-content .layout-ba ~ .gadget.color6, #dashboard-content .layout-ba ~ .gadget.color7 {
	width: 64% !important;
    padding-left: 66px;
}


/*?? 3 columns .layout-aaa  
#dashboard>.vertical.tabs {
  	width: 130px;
}
*/
  
#dashboard>.vertical.tabs+#dashboard-content{
	margin-left: 85px;
	margin-right: -4px;
}

#dashboard-content .gadget.maximized{
	width: 96% !important;
}

.gadget .count-pagination {
	margin: 0 !important;
	padding: 0 !important;
}

/* Break words in cells */
td.nav{
	word-break: break-all !important;
}

/* Disable status icons */
.nav.status img{
	display: none;
}

/* Cut Environment column */
th.headerrow-environment span{
	width: 22px;
	overflow: hidden;
	display: block;
}

.two-d-container table.aui tbody .scope{
	min-width: 0; /* Default "Status" td was 140px in tables */
}

/*
Iframe gadgets
*/
#twodstatstable td, #twodstatstable th{
	padding: 0 !important;
	font-size: x-small;
}

/** Compact most TD and th **/
#issuetable>thead>tr>th, .issue-table>thead>tr>th, #issuetable>tbody>tr>th, .issue-table>tbody>tr>th, #issuetable>thead>tr>td, .issue-table>thead>tr>td, #issuetable>tbody>tr>td, .issue-table>tbody>tr>td, #issuetable>tfoot>tr>td, .issue-table>tfoot>tr>td,
table.aui>thead>tr>th, table.aui>tbody>tr>th, table.aui>thead>tr>td, table.aui>tbody>tr>td, table.aui>tfoot>tr>td, .two-d-container table.aui thead th, .two-d-container table.aui tbody tr:last-child td.totals, .two-d-container table.aui th, .two-d-container table.aui td, .two-d-container .table-container .extra-container{
	padding: 0;
	margin: 0;
}

/* Block header */
.gadget .gadget-menu>ul {
	margin: 1px 0 0 0;
}

/* Hack fix: On Chromium when overflow-x: auto; enabled appeared vertical scrollbar for 1 pixel scroling! */
.search-results-dashboard-item .search-results-dashboard-item-issue-table{
	overflow-y: hidden;
}

.gadget .dashboard-item-header>.dashboard-item-title {
	padding: 0px 64px 0px 6px;
}

.gadget .dashboard-item-header>.gadget-menu {
	padding-right: 1px;
}



#twodstatstable th{
	word-break: break-all;
}

#issuetable thead th, #issuetable .status {
	white-space: normal !important;
}

#issuetable .fixVersions, #issuetable .assignee{
	min-width: 0 !important;
}

/* Compact dates */
.issuerow td.created time, .issuerow td.updated time{
	font-size: xx-small;
}

.aui-theme-default #content {
	padding: 6px;
}

.g-favourite-filters, .g-created-resolved {
	padding: 0.5em;
}

/* Settings icon compact */
.gadget #issuetable{
	margin: 0 !important;
}

.gadget #issuetable tr.hover .issue_actions a.aui-dd-link, .gadget .issuetable tr.hover .issue_actions a.aui-dd-link{
	left: -20px !important;
}
#issuetable .issue_actions .aui-dd-parent, .issue-table .issue_actions .aui-dd-parent{
	width: 9px !important;
}
#issuetable .issue_actions, .issue-table .issue_actions{
	width: 9px !important;
}

/* Compact issue type icon td */
#issuetable>thead>tr>th:first-child, .issue-table>thead>tr>th:first-child, #issuetable>tbody>tr>th:first-child, .issue-table>tbody>tr>th:first-child, #issuetable>tbody>tr>td:first-child, .issue-table>tbody>tr>td:first-child{
	border-left: 0 !important;
}

.gadget .dashboard-item-header{
	min-height: 18px;
}

/* New Chromium 37 fix: hide vertical scrolling in widgets*/
.view .results-wrap>div{
	overflow-y: hidden;
}

/* Labels */
ul.labels span{
	font-size: xx-small;
}
ul.labels li{
	overflow: hidden;
	padding: 0 !important;
}
ul.labels li a{
	overflow: hidden;
	padding: 1px !important;
}

/* Fix footer to body overlapping */
.issue-body-content{
	min-height: 600px;
}

.links-list dt{
	padding-top: 0;
	text-align: right;
}
.links-list dd{
	margin: 0;
}

/* Pie chart */
.piechart-gadget, .piechart-gadget .piechart-wrapper, .piechart-gadget .legend-content, .piechart-gadget .legend-item-label, .piechart-gadget .legend-icon{
	padding: 0;
	margin: 0 !important;
}

.piechart-gadget .piechart-wrapper{
	float: left;
}

.legend-title h3{
	float: left;
}

.piechart-with-legend .legend-wrapper{ /* Legend table: Compact and float left: */
	display: table;
	width: auto;
}

/* Place Legend partially ON svg chart (https://css-tricks.com/scale-svg/) */
/* svg{
	width: 100%; padding-bottom: 47%; height: 1px; overflow: visible;
}
*/
/* /Pie chart */

/********************************************
***** /End Dasboard
********************************************/
}
