@-moz-document regexp("https?://.+?/(browse|secure)/.*"), regexp("https?://.+?/plugins/servlet/gadgets/ifr\\?container=atlassian.*?") {
/********************************************
***** Search and Issues
********************************************/

/* Reset most paddings and margin */
p, .issue-body-content .module>.mod-content, .issue-body-content .item-details dl>dd, .property-list>li, .property-list>li, .issuePanelWrapper, .tabwrap>.tabs.horizontal>li, #issuetable>tbody>tr>td, #issuetable, .editable-field, .links-list .link-content, .issue-header .issue-header-content>.aui-page-header{
	padding: 0 !important;
	margin: 0 !important;
	font-size: x-small;
	line-height: 0.9em;
}

p:first-letter{
	color: green;
	/*
	text-decoration: underline;
	Unfortunately it does not work in Chromium (http://stackoverflow.com/questions/27210066/underline-single-letter-in-an-input-placeholder, test http://jsfiddle.net/mqchen/cQCSp/3/), use background workaround
	*/
	border-bottom: 1px solid darkgreen;
	border-radius: 0.2em;
	text-transform: uppercase; /* quirqs */
	line-height: 1.4em;
}

blockquote{
	padding: 0px 2px;
	margin: 0 19px;
}

pre{
	margin: 0 1px !important;
	padding: 0 !important;
}

/*** Compact left list sidebar **/
.issue-list>li .splitview-issue-link+.splitview-issue-link {
	/* white-space: nowrap; */
	white-space: normal;
	/* display: block; */
	display: inline;
	font-size: 70%;
}

.issue-list{
	overflow-x: visible;
}

.issue-list>li{
	padding: 0;
	line-height: 70%;
}

.list-panel {
	padding: 0;
/*	overflow-y: scroll;*/
}

.split-view .list-results-panel{
	padding: 0;
}

/*** Compact message representation at right **/
.module{
	padding: 0 !important;
	margin: 0 !important;
}

header.aui-page-header{
	padding: 0;
}

.issue-header .command-bar .toolbar-group {
	margin-bottom: 0;
}

.mod-header{
	margin-left: 1.5em;
}

/*** Buttons **/
.toolbar-item+.toolbar-item .toolbar-trigger, .toolbar-item+.toolbar-item a.aui-dd-trigger,
.aui-toolbar .toolbar-group .toolbar-trigger, .aui-toolbar .aui-dd-parent a.aui-dd-trigger{
	padding: 0 3px !important;
}

div.command-bar{
	padding: 0 !important;
}

.issue-main-column {
	padding-right: 0.3em;
	border: 1px dashed lightgray;
}
  
/*** Details move to right **/
/* There are #peoplemodule, #datesmodule */
#viewissuesidebar{
	padding: 0 0.3em!important;
	position: relative;
	top: 10em;
	line-height: 0.9em;
}

/* Description block at right and do not wider than content, but not edit form */
#description-val{
	float: right;
	color: brown;
}
#description-val div.wiki-edit{
	min-width: 80em;
	left: -3em;
	position: relative;
}

#details-module{
	padding-left: 0.3em !important;
	position: absolute;
	right: 4px;
	width: 35%;
	max-height: 10.1em;
	overflow: auto;
}

.property-list .wrap{
	padding: 0 !important;
}

.property-list .wrap strong.name{
	margin-left: 0;
	font-weight: bold;
	padding: 0 5px 0 0;
/*    font-size: 120%;
    text-decoration: underline;*/
}

.property-list .item .name{
	width: auto;
	min-width: 11em;
}

.property-list .item .value{
	display: run-in;
}

.links-list dd .delete-link {
	top: 0 !important;
}

/** Edit field */
.inline-edit-fields{
	max-width: 91%;
	padding-left: 1em;
}
/*** end "Details move to right" **/


/*** Issue itself ***/
#summary-val.editable-field{
	font-size: 20pt;
	color: green;
}
 
#status-val, #resolution-val, #fixfor-val, #customfield_10040-val{
	background-color: gold;
}

.aui-tabs{
	font-size: inherit !important;
}

#view-subtasks td.stsummary{
	width: auto; /* was 100% - it give strange issue for heigh increase */
}
/*** /end Issue itself ***/

/*** Comments **/
.tabwrap>.tabs.horizontal>li{
	font-size: small; /* Tabs littl bit bigger than x-small */
}


.issue-body-content{
	padding: 0 10px 10px;
}

.issue-body-content div{
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

a.user-hover.user-avatar, span.user-hover.user-avatar {
	padding: 4px 0 2px 19px;
}

.action-details{
	background-color: #F7F7F7;
	opacity: 0.7;
	display: inline-block; /* Because of opacity links became disfunctional (1). So, make it shorter. Alternatively just with may be applyed (1: http://stackoverflow.com/questions/9766154/css-opacity-div-links-not-working-inside-that-div) */
}

.commentreply{
	float: right;
	position: relative;
	top: -0.7em;
	line-height: 0;
	font-size: x-small;
}

.actionContainer br:last-child{
	display: none;
}

/*** Labels ***/
ul.labels{
	display: inline-flex;
	height: 0;
}
ul.labels li{
	padding: 0px 2px 0px 0;
}
ul.labels li .lozenge{
	font-size: 11px;
	overflow: hidden;
	padding: 0px 5px;
}
.editable-field .overlay-icon.icon-edit-sml{
	background-position-y: 0;
}
/*** /end Labels ***/

/*** Fix bug in multiple Up/Down votes icons
  Selector by http://stackoverflow.com/a/8539107/307525
***/
.action-links > .upvote ~ .upvote, .action-links > .downvote ~ .downvote{
	display: none;
}

/********************************************
***** Dasboard
********************************************/
/* Main */
body{
	line-height: 1;
}

#dashboard-content>.aui-page-header {
	padding: 0 0 0 50px;
}

#dashboard>.vertical.tabs {
	margin: 0;
	padding: 0;
    width: 130px;
}

#dashboard-content .gadget {
	width: 31.9% !important;
/*  left: 5px !important;*/
}

/* 2 columns with different width layout. Unfortunately no other than anchor to colors classes way found to wtyle that */
#dashboard-content .layout-ba ~ .gadget.color5, #dashboard-content .layout-ba ~ .gadget.color6, #dashboard-content .layout-ba ~ .gadget.color7 {
	width: 64% !important;
    padding-left: 66px;
}


/*?? 3 columns .layout-aaa  
#dashboard>.vertical.tabs {
  	width: 130px;
}
*/
  
#dashboard>.vertical.tabs+#dashboard-content{
	margin-left: 85px;
	margin-right: -4px;
}

#dashboard-content .gadget.maximized{
	width: 96% !important;
}

#issuetable th, .issue-table th, #issuetable td, .issue-table td{
	border-right: 1px solid #EAEAEA;
}

.gadget .count-pagination {
	margin: 0 !important;
	padding: 0 !important;
}

/* Break words in cells */
td.nav{
	word-break: break-all !important;
}

/* Disable status icons */
.nav.status img{
	display: none;
}

/* Cut Environment column */
th.headerrow-environment span{
	width: 22px;
	overflow: hidden;
	display: block;
}

/*
Iframe gadgets
*/
#twodstatstable td, #twodstatstable th, #issuetable td, #issuetable th {
	padding: 0 !important;
	font-size: x-small;
}

/* Block header */
.gadget .gadget-menu>ul {
	margin: 1px 0 0 0;
}

.gadget .dashboard-item-header>.dashboard-item-title {
	padding: 0px 64px 0px 6px;
}

.gadget .dashboard-item-header>.gadget-menu {
	padding-right: 1px;
}



#twodstatstable th{
	word-break: break-all;
}

#issuetable thead th, #issuetable .status {
	white-space: normal !important;
}

#issuetable .fixVersions, #issuetable .assignee{
	min-width: 0 !important;
}

.aui-theme-default #content {
	padding: 6px;
}

.g-favourite-filters, .g-created-resolved {
	padding: 0.5em;
}

/* Settings icon compact */
.gadget #issuetable{
	margin: 0 !important;
}

.gadget #issuetable tr.hover .issue_actions a.aui-dd-link, .gadget .issuetable tr.hover .issue_actions a.aui-dd-link{
	left: -20px !important;
}
#issuetable .issue_actions .aui-dd-parent, .issue-table .issue_actions .aui-dd-parent{
	width: 9px !important;
}
#issuetable .issue_actions, .issue-table .issue_actions{
	width: 9px !important;
}

/* Compact issue type icon td */
#issuetable>thead>tr>th:first-child, .issue-table>thead>tr>th:first-child, #issuetable>tbody>tr>th:first-child, .issue-table>tbody>tr>th:first-child, #issuetable>tbody>tr>td:first-child, .issue-table>tbody>tr>td:first-child{
	border-left: 0 !important;
}

.gadget .dashboard-item-header{
	min-height: 18px;
}

/* New Chromium 37 fix: hide vertical scrolling in widgets*/
.view .results-wrap>div{
	overflow-y: hidden;
}

/* Labels */
ul.labels span{
	font-size: xx-small;
}
ul.labels li{
	overflow: hidden;
	padding: 0 !important;
}
ul.labels li a{
	overflow: hidden;
	padding: 1px !important;
}

}